<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_username">Username:</label><br>
            <input type="text" name="username" required autofocus>
        </div>
        <div>
            <label for="id_password">Password:</label><br>
            <input type="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="register_user.html">Register here</a></p>

    {% if form.errors %}
        <div>
            <p>Invalid username or password.</p>
        </div>
    {% endif %}

</body>
</html>
